
@{
    ViewBag.Title = "Index";
}

<h2>Overview</h2>

@Html.ActionLink("Logout", "Signout", "Authentication", new { area = "Authentication" }, null)

<table align="center">
    <tr>
        <th>Accounts</th>
    </tr>
    <tr>
        <td>
            @using (Html.BeginForm())
            {
                @Html.DropDownList("account_id", (SelectList)ViewBag.AccountsList, new { onchange = "$(this.form).submit ();" })
            }
        </td>
    </tr>
</table>

<table align="center">
   <tr>
       <th colspan="2">Transactions</th>
   </tr>
    @{
        foreach (var transaction in ViewBag.TransactionsList)
        {
            <tr>
                <td>@transaction.name</td>
                <td>@transaction.value</td>
            </tr>
        }
     }
</table>